/* DEBUT DE LA NAVBAR */

* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  text-decoration: none;
  list-style: none;
  
}

nav{
    background: deepskyblue;
    height: 40px;
}
nav ul {
  float: right;
  margin-right: 20px;
}

nav ul li{
    font-size: 20px;
    display: inline-block;
    line-height: 20px;
    margin: 20px 20px;
}
nav ul li a{
    margin-right:70px ;
    color:white;

}
a:hover{
    background:rgb(24, 120, 151) ;
    transition: 0.5s;
}
img{
  margin-left: 70px;
  height: 40px;
  border-radius: 200px;
}
img.alignleft{
  margin: 0 15px 0 0;
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%,-50%);
  height: 400px;
  float: left;
}

p.alignleft{
  text-align: justify;
  
  position: absolute;
  top: 37%;
  left: 40%;
  width: 300px;
  
  height: 400px;
  float: left;
}
/* FIN DE LA NAVBAR */
/*DEBUT CREATION DES ICONE*/
footer{
   
    position: absolute;
    width: 100%;
    bottom: 0px;
    height: 150px;

    background-color: deepskyblue;
}

footer div{
  margin-left:70px;
  margin-right: 70px;
}
.icone{
  margin-left: 20%;
  float: left;
}

.contact{
  margin-right: 20%;
  float: right;
}

div.listeres{
  : 30px;
}
/*FIN CREATION DES ICONE*/
